body {
	font-family: Arial;
	box-sizing: border-box;
}

.navbar {
	background-color: #979b9e;
	border: 1px solid black;
}

.navbar-brand h1 { /* Configurações da marca texto*/
	font-weight: bold;
	margin-left: 30px;
}

.navbar-toggler { /* configuração do botão do menu*/
	margin-right: 25px;
}

.navbar-toggler-icon {
}

.navbar-light .navbar-toggler {
	color: #e8e8e8;
	border-color: #000;
	padding: 0;
	font-size: 1.7em;
	border: 2px solid black;
	text-transform: uppercase;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-toggler:focus {
	color: #e8e8e8;
	border-color: #fff;
	box-shadow: : 0 0 0 0;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28232, 232, 232, 100%29' stroke-linecap='round' stroke-miterlimit='20' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-toggler:hover {
	color: #e8e8e8;
	background-color: #e8e8e8;
	border-color: #e8e8e8;
}

#navbarSupportedContent { /*configuração do menu aberto */
	background-color: #fff;
	margin: 0;
	width: 100%
	margin-top: 0px;
	text-align: center;
	font-size: 1.2em;
}

nav.navbar {
	padding-bottom: 0;
}

div#config-container {
	max-width: 100%;
	box-sizing: border-box;
	padding: 0;
	padding-bottom: 0;
}

#config-ul {
	border: 0;

}

#config-ul a {  /*configuração dos itens abertos do menu */
	width: auto;
	border: 1px solid black;
	color: #000;
	font-weight: bold;
}

#config-ul a:hover { /*configuração dos itens abertos do menu */
	background-color: #f8f9fa;
}

/********* extra small devices only */
@media (max-width: 767px) {
	.navbar-brand h1 { /* Configurações da marca texto*/
	font-weight: bold;
	margin-left: 50px;
	font-size: 1.8em;
}

.navbar-toggler { /* configuração do botão do menu*/
	margin-right: 25px;
	color: #fff;
}
#home-titles {
	width: 80%;
}
	}

/*end header*/

/* Homepage */

#main-content {
	padding: 0;
}

#home-titles {
	margin-right: auto;
	margin-left: auto;
}

#colum-tiles {
	background-color: #fff;
	margin: auto;

}

#chicken-tile, #beef-tile, #sushi-tile {
	background-color: #979b9e;
	position: relative;

}


#menu-categories-title {
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
}

#titulo-tile, #titulo-tile1, #titulo-tile2 {
	font-weight: bold;
	font-size: 1.2em;
}

p {
	margin-top: 10px;
	font-size: 0.9em;
	margin-right: 10px;
	margin-left: 10px;
	font-weight: bold;
	color: #000;
}
/*end homepage */